﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="NSS_2015_Report.SiteMaster" %>

<!DOCTYPE html>
<html lang="en">
<head id="Head1" runat="server">
    <meta charset="utf-8" />
    <title>NSS 2015</title>
    <asp:PlaceHolder ID="PlaceHolder1" runat="server">     
          <%: Scripts.Render("~/bundles/modernizr") %>
    </asp:PlaceHolder>  
    <webopt:BundleReference ID="BundleReference1" runat="server" Path="~/Content/css" /> 
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <!--[if lt IE 9]>
        <script src="<%=GetSiteRoot()%>/Scripts/jquery-1.11.2.js"></script>
    <![endif]-->
    <!--[if (gte IE 9) | (!IE)]><!-->
    <script src="<%=GetSiteRoot()%>/Scripts/jquery-2.1.4.js"></script>
    <!--<![endif]-->
    <link href="Content/themes/base/all.css" rel="stylesheet" />    
    <link href="Content/themes/base/all.css" rel="stylesheet" />
    <asp:ContentPlaceHolder runat="server" ID="HeadContent" />    
</head>
<body>
    <form runat="server">
    <asp:ScriptManager runat="server" EnablePageMethods="true" EnablePartialRendering="true" AsyncPostBackTimeout="0">
        <Scripts>
            <%--To learn more about bundling scripts in ScriptManager see http://go.microsoft.com/fwlink/?LinkID=272931&clcid=0x409 --%>
            <%--Framework Scripts--%>
            
            <asp:ScriptReference Name="MsAjaxBundle" />            
            <asp:ScriptReference Name="jquery.ui.combined" />
            <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js" />
            <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js" />
            <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/WebForms/MenuStandards.js" />
            <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js" />
            <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js" />
            <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js" />
            <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebParts.js" />
            <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/WebForms/Focus.js" />
            <asp:ScriptReference Name="WebFormsBundle" />
            <%--Site Scripts--%>

        </Scripts>
    </asp:ScriptManager>
    <header>
        <div class="content-wrapper" style="width:100%;">
            <img src="<%=GetSiteRoot()%>/Images/NSS_survey.jpg" />
        </div>        
    </header>
    <div id="body">        
        <div class="content-wrapper">
            <div style="text-align:right;background:white;padding:5px;">
                <asp:Label ID="lblLoggedin" runat="server" style="padding-left:20px;padding-right:20px;"></asp:Label>|<a ID="aHelp" style="padding-left:20px;padding-right:20px;color:#024b34;" href="mailto:Phil@puresurvey.co.za?subject=NSS 2015 Report – Support">Need Help?</a>|<asp:LinkButton ID="aLogout" runat="server" Text="Logout" style="padding-left:20px;padding-right:20px;color:#024b34;" OnClick="aLogout_Click"></asp:LinkButton>                    
            </div>
        </div>
        <section class="content-wrapper main-content clear-fix">
            <asp:ContentPlaceHolder runat="server" ID="MainContent" />
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div style="float:left">&copy; <asp:Label ID="lblYear" runat="server"></asp:Label> - Pure Survey (Pty) Ltd</div>
            <div style="float:right"><img src="<%=GetSiteRoot()%>/Images/Pure-logo-small.jpg" /></div>
        </div>
    </footer>
    </form>
</body>
</html>
